* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

.logo_link h1 {
    display: inline-block;
    height: 60px;
    padding: 7px 0;
    margin-left: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

.search-container {
    margin-right: 25px;
}

.menu_box input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 400px;
}

.menu_box .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.menu_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu_box .menu {
    margin-right: 50px;
}

.menu ul {
    display: flex;
}

.menu ul li a, .btn a {
    padding: 20px 15px;
}

/* BANNER */

.banner {
    position: relative;
}

.banner_content {
    position: absolute;
    top: 50px;
    left: 80px;
}

.banner a {
    padding: 10px 50px;
}

.jn_btn {
    margin-top: 20px;
}

.jn_btn p {
    margin-bottom: 30px;
}

/* CONTENT */

.content {
    margin: 10px 70px;
    display: grid;
    grid-gap: 10px;
}

.mp_art {
    grid-row: 1 / span 3;
    grid-column: 1 / span 9;
}

.mp_band {
    grid-row: 4 / span 3;
    grid-column: 1 / span 9;
}

.new_t {
    grid-row: 7 / span 5;
    grid-column: 1 / span 4;
}

.new_a {
    grid-row: 7 / span 5;
    grid-column: 6 / span 4;
}

.news {
    grid-row: 1 / span 11;
    grid-column: 10 / span 2;
}

.new_t, .new_a {
    padding-top: 20px;
}

.mp_art h2, .mp_band h2, .more {
    padding: 5px 0px 0px 10px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tape_box {
    padding: 20px 0px;
    
}

.tape_item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_box {
    margin: 20px 0;
}

.list_item {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 0;
}

.list_item_descr {
    margin-left: 10px;
}

.news_box {
    padding: 0 15px;
}

.news_item {
    margin-top: 20px;
    padding: 0 50px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}