* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.logo_link h1 {
    display: inline-block;
    height: 100%;
    padding: 7px 0;
    margin-left: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-container {
    width: 406px;
    padding: 10px 10px;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 350px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.menu {
    padding-right: 50px;
}

.menu_box {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu_box .menu {
    margin-right: 50px;
}

.menu ul {
    display: flex;
}

.menu ul li a, .btn a {
    padding: 20px 20px;
}

/* BANNER */

.banner {
    position: relative;
}

.banner_content {
    position: absolute;
    top: 50px;
    left: 80px;
}

.banner a {
    padding: 10px 50px;
}

.jn_btn {
    margin-top: 20px;
}

.jn_btn p {
    margin-bottom: 30px;
}

/* CONTENT */

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.content_main {
    margin: 10px 70px;
    display: grid;
    grid-gap: 10px;
}

.content_page {
    display: grid;
    margin: 10px 10px;
}

.content_news {
    display: flex;
    flex-wrap: wrap;
}

.news_item {
    display: flex;
    flex-direction: column;
}

.date, .main_descr, .addition {
    padding: 15px 20px;
}

.mp_art {
    grid-row: 1 / span 3;
    grid-column: 1 / span 9;
}

.mp_band {
    grid-row: 4 / span 3;
    grid-column: 1 / span 9;
}

.new_t {
    grid-row: 7 / span 5;
    grid-column: 1 / span 4;
}

.new_a {
    grid-row: 7 / span 5;
    grid-column: 6 / span 4;
}

.news {
    grid-row: 1 / span 11;
    grid-column: 10 / span 2;
}

.page_details {
    grid-column: 1 / span 9;
    grid-row: 1 / span 11;
}

.new_t, .new_a {
    padding-top: 20px;
}

.mp_art h2, .mp_band h2, .more {
    padding: 5px 0px 0px 10px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tape_box {
    padding: 20px 0px;
    
}

.tape_item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_box {
    margin: 20px 0;
}

.list_item {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 0;
}

.list_item_descr {
    margin-left: 10px;
}

.news_box {
    padding: 0 15px;
}

.news_item {
    margin-top: 20px;
    padding: 0 50px;
}

.news_block {
    margin: 1%;
    width: 48%;
}

.photo_news {
    height: 450px;
}

.news_image {
    position: relative;
    height: 600px;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 10px;
}

.news_description {
    padding: 15px 100px;
}

.news_description p {
    margin: 17px 0;
}

.shops_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.shop_box {
    margin: 20px;
}

.shop_box:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.sh_box_img {
    width: 320px;
    height: 100px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 5px 0;
}

@media screen and (max-width: 1270px) {
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu {
        padding: 0;
        margin-left: 50px;
    }

    .menu_box {
        margin: 15px 0;
    }

    .logo_link h1 {
        margin-left: 0;
    }

    .btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .content_main {
        margin: 10px 5px;
        display: flex;
        flex-direction: column;
    }

    .banner_content {
        top: 20px;
        left: 35px;
    }

    .jn_btn {
        padding: 0;
        margin: 0;
    }

    .tape_item {
        margin-bottom: 10px;
    }

    .content_page {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .content_news {
        display: flex;
        flex-direction: column;
    }

    .news_block {
        width: 98%;
    }
}