* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #3B3B3B;
}

header {
    background: #393939;
}

header h1, h1 span, .news_item a:hover {
    color: #9CF9FF;
}

.search-container button:hover {
    background: #ccc;
}

.fnt_blk {
    color: #000000;
}

.btn a:hover, .menu ul li a:hover, .more a:hover {
    color: #fff;
    opacity: 1;
}

.checked {
    text-decoration: underline;
    text-decoration-color: #9CF9FF;
    text-decoration-thickness: 7px;
}

.btn a, .menu ul li a, .more a {
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: #D1D1D1;
    font-size: 16px;
    opacity: 0.6;
}

.menu ul {
    list-style: none;
}

.logo_link a {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.banner {
    height: 260px;
    background: url(../img/concert-bg1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.banner h1 {
    color: rgb(238, 237, 237);
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: #777777;
}

.banner a {
    border-radius: 5px;
    background-color: #73C0C5;
    text-decoration: none;
    color: #000000;
    opacity: 0.9;
}

.banner a:hover {
    background-color: #7bced4;
    opacity: 1;
}

.banner_h2 {
    font-size: 20px;
}

h2, .list_item_descr, .news_text {
    color: #fff;
}

.descr {
    background-color: #f6f6f6;
    height: 170px;
}

.date, .addition {
    color: #45444a;
    font-size: smaller;
}

.main_descr {
    font-size: larger;
}

.tape_item img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.list_item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.tr img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

.tape_item p {
    text-align: center;
    color: #fff;
}

.tape_item a, .td_none {
    text-decoration: none;
}

.news_item a {
    color: #73C0C5;
}

.news_date {
    color: #999999;
    font-size: smaller;
}

.news_description p {
    color: #45444a;
    font-size: 20px;
}

.page_details {
    background-color: #fff;
}

.caption {
    background-color: #c5c5c5;
    opacity: 0.85;
    color: #45444a;
}

.caption p {
    font-size: 45px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

footer {
    background: #D1D1D1;
}

.mike {
    background: url(../img/news_Mike.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.soad {
    background: url(../img/news_SOAD.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.joey {
    background: url(../img/news_Joey.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.tool {
    background: url(../img/news_tool.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.portnoy {
    background: url(../img/news_Portnoy.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.serj {
    background: url(../img/news_Serj.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.bvb {
    background: url(../img/news_bvb.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}

.metallica {
    background: url(../img/news_metallica.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.slaves {
    background: url(../img/news_slaves.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.bmth {
    background: url(../img/news_bmth.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.blink {
    background: url(../img/news_blink.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.corey {
    background: url(../img/news_corey.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
