* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #3B3B3B;
}

header {
    background: #393939;
}

header h1 {
    color: #9CF9FF;
}

.btn a, .menu ul li a {
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: #D1D1D1;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
}

.btn a:hover, .menu ul li a:hover {
    color: #fff;
    opacity: 1;
}

.menu ul {
    list-style: none;
}

.logo_link a {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.banner {
    height: 260px;
    background: url(../img/concert-bg1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

}

.banner h1 {
    color: rgb(238, 237, 237);
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: #777777;
}

.banner a {
    border-radius: 5px;
    background-color: #73C0C5;
    text-decoration: none;
    color: black;
    opacity: 0.9;
}

.banner a:hover {
    background-color: #7bced4;
    opacity: 1;
}

.banner_h2 {
    font-size: 20px;
}

h1 span {
    color: #9CF9FF;
}

.content div {
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
}

.content div h2 {
    color: #fff;
}

.new_t h2, .new_a h2, .tag h2, .news h2 {
    text-align: center;
}

.mp_art h2, .mp_band h2 {
    padding: 5px 0px 0px 10px;
}

footer {
    background: #D1D1D1;
}